html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  text-align: center;
  background-image: none !important;
  background-color: rgba(40, 42, 54, 1) !important;
}

body * {
  color: rgba(248, 248, 242, 1);
  background-color: rgba(40, 42, 54, 1);
}
